{{!-- Find a Buddy Form --}}
<div class="col-md-6">
    <h2>Find A Buddy</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="console-signup">Choose the console:</label>
        <select name="console-signup" class="form-control" id="console-signup">
          {{!-- <option value="0"></option> --}}
          <option value="1">PC</option>
          <option value="2">Playstation</option>
          <option value="3">Xbox</option>
        </select>
      </div>
      <div class="form-group">
        <label for="game-signup">Choose the game:</label>
        <select name="game-signup" class="form-control" id="game-signup">
          {{!-- <option value="0"></option> --}}
          {{!-- value = game id. name = game name --}}
          <option value="1">Modern Warfare 2</option>
          <option value="2">Minecraft</option>
          <option value="3">Fortnite</option>
          <option value="4">GTA V</option>
          <option value="5">Rainbow Six Siege</option>
          <option value="6">Red Dead Redemption II</option>
          <option value="7">Overwatch</option>
          <option value="8">Rocket League</option>
          <option value="9">ROBLOX</option>
          <option value="10">League of Legends</option>
          <option value="11">PUBG: Battlegrounds</option>
          <option value="12">CSGO</option>
          <option value="13">Black Ops III</option>
          <option value="14">Spider-Man</option>
          <option value="15">The Elder Scrolls V: Skyrim</option>
          <option value="16">FIFA 22</option>
          <option value="17">The Wticher 3: Wild Hunt</option>
          <option value="18">World of Warcraft</option>
          <option value="19">Halo 2</option>
          <option value="20">Tony Hawks Pro Skater 2</option>  
        </select>      
      </div>
      {{!-- <div class="form-group">
        <label class="date-time" for="meeting-time">Date and time:</label>
        <input type="datetime-local" id="meeting-time"
        name="meeting-time" value="2023-03-07T19:30"
        min="2023-03-07T00:00" max="2026-03-30T00:00">
      </div> --}}
      <hr>
      <div class="form-group">
        <button class="btn btn-secondary" type="submit">Find me a buddy</button>
      </div>
    </form>
  </div>

{{!-- Find a Buddy Results --}}


<div class="col-md-6" id="findabuddy-results">
{{!-- Current Blog Posts (if there are any created)--}}
{{#if buddies.length}}
  <div class="col-md-6 buddy-list">
    <h3>Current Re:</h3>
  {{else}}
    <p>Fill out the form and see who you can buddy up with!</p>
  {{/each}}
  
{{/if}}

</div>