<!-- Loop over each object in the games? array -->
{{#each games as |game| }}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{game.name}}</h5>
    <p class="card-text">{{game.console.name}}</p>
    <h6 class="card-subtitle mb-2 text-muted">{{game.genre.name}}</h6>
    <p class="card-text">{{game.review.stars}}</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{{/each}}
