:root {
    --main-pink: #f6042c;
    --secondary: #070605;
    --dark: #000000;
}


/* -------- NavBar Config -------- */
header a {
  text-decoration: none;
  color: var(--black);
}

header a:hover {
  color: #6bf6df;
  text-shadow:0px 0px 30px #6bf6df;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.navbar {
    background-color: var(--main-pink);}
.darkmode--activated .navbar {
    background-color: var(--secondary);}

h1 {
    font-family:'Courier New', Courier, monospace;
    color: var(--dark);}

.darkmode--activated h1 {
    color: var(--main-pink);}

.btn-nav {
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;    
}
    
.btn-nav:hover {
  opacity: 0.3;
  transform: scale(1.1);
}
/* -------- End NavBar Config -------- */

/* -------- Card Config -------- */
.card {
  position: relative;
  margin: 0.5rem;
  padding: 0;
  border: none;
  width: 12rem;
  height: 12rem;
  background-position: center;
  transition: width .1s;
}

.card-body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--main-pink);
}

.card-body:hover  {
  opacity: 1;
  text-decoration: none;
}

.card-title {
  color: white;
  text-align: center;
  text-decoration: none;
}

/* -------- Body Button Config -------- */
.btn, .darkmode--activited .btn {
  background-color: #fff;
  border-radius: 1.75rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  padding: .6rem 1.2rem;
  text-align: center;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover:hover {
  background-color: var(--main-pink);
  color: #fff;
}

.darkmode--activated .btn:hover:hover {
  background-color: var(--main-pink);
  color: #fff;
}
/* -------- End Body Button Config -------- */







/* {{!-- CSS for the table --}}

{{!-- #my-request-table {
border-collapse: collapse;
width: 100%;
} --}}

{{!-- #my-request-table td, #my-request-table th {
border: 1px solid #ddd;
padding: 8px;
} --}}

{{!-- #my-request-table tr:nth-child(even){background-color: #f2f2f2;}--}}

{{!-- #my-request-table tr:hover {background-color: #ddd;} --}}

{{!-- #my-request-table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: bg-dark;
color: white; -- ** Should we make it red ?
} --}}


{{!-- Delete Row function J.S --}}

{{!-- function DeleteRow() {
var td = event.target.parentNode;
var tr = td.parentNode;
tr.parentNode.removeChild(tr);
} --}} */