:root {
    --main-pink: #f6042c;
    --secondary: #6a6a6a;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    color: var(--main-pink);
}
nav a { 
    color: white;
    text-decoration: none;
 }
  
a:hover {
    color: rgb(0, 100, 100);
    
  }

.button {
    background-color: var(--secondary);
    color: white;
}
.button:hover {
    background-color: var(--main-pink);
    color: white;
  }